<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="m-meme">
      <h1>Bossed Up #FierceFall Campaign</h1>
      <%= partial "partials/editor" %>
      <%= partial "partials/canvas" %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
    <hr>

      <img class="one-third" src="images/person1.png">
      <img class="one-third" src="images/person2.png">
      <img class="one-third" src="images/person3.png">
      <img class="one-third" src="images/person4.png">
      <img class="one-third" src="images/person5.png">
      <img class="one-third" src="images/person6.png">

    <hr>
    <h2 class="landing-about"> About the Campaign </h2>
    <p class="landing-text">Are you ready to ring in the fall season right?! It’s so easy to get caught up in the daily grind and the hustle and bustle of everyday life. This fall, our community of bosses is aiming higher with our #FierceFall challenge. In order to bring renewed focus and attention to those things that are most important to us, next week we’re starting to share our top three goals across work, love, and wellness that we’re striving to achieve before Thanksgiving. We’ll provide motivation via email and social media and award weekly prizes for checking in with our community using the #FierceFall hashtag and tagging us on Twitter and Instagram at @BossedUpOrg.</p>
    <br>
    <br>


  </body>

    <footer>
  <div class="copyright">
    <p>2015 - Bossed Up LLC</p>
  </div>
  </footer>
</html>
