<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="m-meme">
      <div class="header">
      <h1>Share Your #FierceFall Goal</h1>
      <h2>Set your sights for a big season of change, like a boss!</h2>
      </div>
      <div class="editor-class">
      <%= partial "partials/editor" %>
      </div>
      <%= partial "partials/canvas" %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
    <hr>
    <div class="photo-grid">
      <img class="one-third" src="images/person1.png">
      <img class="one-third" src="images/person2.png">
      <img class="one-third" src="images/person3.png">
      <img class="one-third" src="images/person4.png">
      <img class="one-third" src="images/person5.png">
      <img class="one-third" src="images/person6.png">
    </div>

    <hr>
    <h2 class="landing-about"> About the Campaign </h2>
    <p class="landing-text">Are you ready to ring in the fall season right?! It’s so easy to get caught up in the daily grind and the hustle and bustle of everyday life. This fall, our community of bosses is aiming higher with our #FierceFall challenge. In order to bring renewed focus and attention to those things that are most important to us, next week we’re starting to share our top three goals across work, love, and wellness that we’re striving to achieve before Thanksgiving. We’ll provide motivation via email and social media and award weekly prizes for checking in with our community using the #FierceFall hashtag and tagging us on Twitter and Instagram at @BossedUpOrg.</p>
    <br>
    <br>


  </body>

    <footer>
      <ul class="footer-left">
       <li><a href="https://bossedupforlife.com/terms-privacy-policy/">Privacy Policy</a></li>
       <li><a href="https://bossedupforlife.com/terms-privacy-policy/">Terms of Use</a></li>
       <li><a href="mailto:info@bossedup.org">Contact</a></li>
      </ul>

      <div class="footer-right">
        <a href="https://instagram.com/bosseduporg"><img src="images/icon-instagram.png"></a>
       <a href="https://www.facebook.com/bosseduporg"><img src="images/icon-facebook.png"></a>
       <a href="https://www.twitter.com/bosseduporg"><img src="images/icon-twitter.png"></a>

     </div>
    </br>
      <p>Copyright 2015. All Rights Reserved. Bossed Up, LLC</p>
    </footer>
  
</html>
